.plantilla {
    width: 756px;
    height: 340px;
    border: 1px solid black;
    background-color: white;
    position: relative;
    overflow: hidden;
}

.plantilla-editor {
    width: 756px;
    /* 20 cm aprox */
    height: 340px;
    /* 9 cm aprox */
    aspect-ratio: 16 / 16;
    border: 2px solid white;
    background-color: white;
    position: relative;
    margin: 20px auto;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.img1 {
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
}



.square {
    border-radius: 5%;
}

.circle {
    border-radius: 50%;
    /* controlar con border radius */
}

.diamond {
    transform: rotate(45deg);
    /* controlar con rotate */
}

.diamond>img {
    transform: rotate(-45deg);
}