.plantilla {
    width: 756px;
    height: 340px;
    border: 1px solid black;
    background-color: white;
    position: relative;
    overflow: hidden;
}

.plantilla-editor {
    width: 756px;
    /* 20 cm aprox */
    height: 340px;
    /* 9 cm aprox */
    aspect-ratio: 16 / 16;
    border: 2px solid white;
    background-color: white;
    position: relative;
    margin: 20px auto;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.wrapper {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img1 {
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
}



.square {
    border-radius: 5%;
}

.circle {
    border-radius: 50%;
    /* controlar con border radius */
}

.diamond {
    transform: rotate(45deg);
    /* controlar con rotate */
}

.diamond>img {
    transform: rotate(-45deg);
}

.boton-cargarImagen {
    background-color: #8d918d;
    color: black;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    display: inline-block;
}

.input-oculto {
    display: none;
}

.form-container {
    width: 30%;
    padding: 1%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.space-between {
    /* margin: 2% auto;
    font-size: 0.9rem; */
    display: flex;
    justify-content: space-between;
}

.form-image select,
.form-image input {
    width: 50%;
}

.table-controllers {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}